@import 'settings.scss';
@import 'typography.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $base-font-family;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

