$base-size: 12px;
$base-font-color: #708090;
$base-background-color: #2f4f4f;
$base-black: #0000;
$base-light-color: #a9a9a9;
$base-font-family: 'Roboto', sans-serif;
$base-pink-color:#f50057;

$base-size: 12px;
$main-spacing: 12px;