@import "../../../styles/settings.scss";

.homepage {
  padding: 2% 5%;
}

.card {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  flex-wrap: wrap;
  padding: 10px;

  &__item {
    flex-basis: 30%;
    margin: 20px;
    flex-grow: 1;
  }
}
